
/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/
html {
    height: 100%;
}

body {
    /* Location of the image */
    background-image: url(image/background-photo-2.jpg);

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */

    height: 100%;
    margin: 0px;
    text-shadow: 0 0 10px #184a6e, 0 0 20px #184a6e, 0 0 30px #184a6e, 0 0 40px #aa5451, 0 0 70px #aa5451, 0 0 80px #aa5451, 0 0 100px #aa5451, 0 0 150px #aa5451;
    font-size: 2.5em;
    color: aliceblue;
}
